<!-- One -->
<section id="one">
	<header class="major">
		<h2>
			Ipsum lorem dolor aliquam ante commodo<br />
			magna sed accumsan arcu neque.
		</h2>
	</header>
	<p>
		Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae
		lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna.
		Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.
	</p>
	<ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul>
</section>
