<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li>
				<a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
			</li>
			<li>
				<a href="#" class="icon brands fa-github"><span class="label">Github</span></a>
			</li>
			<li>
				<a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a>
			</li>
		</ul>
		<ul class="copyright">
			<li>&copy; You, Inc.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>Powered by <a href="https://astro.build">Astro</a></li>
		</ul>
	</div>
</footer>
