---
import avatar from '../assets/avatar.jpg';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			<strong>I am Strata</strong>, a super simple<br />
			responsive site template freebie<br />
			crafted by <a href="http://html5up.net">HTML5 UP</a> and ported to Astro by Netais LLC.
		</h1>
	</div>
</header>
